<!DOCTYPE html>
{% load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
   
    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
    <title>Products | {% block title %}{% endblock title %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
          <a class="navbar-brand" href="/">
            <img src="{% static "app/images/banner/ecomlogo.jpg" %}" width="70" height="50"/>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Products</a>
                
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'category' 'LP'%}">LAPTOP</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'ML'%}">MILK</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'ST'%}">SHIRT</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'MS'%}">Milkshake</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'SH'%}">SHOES</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'WA'%}">WATCH</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'BA'%}">BAG</a></li>
                  <li><a class="dropdown-item" href="{% url 'category' 'IC'%}">Ice-creams</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'about' %}">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'contact' %}">Contact Us</a>
              </li>
            </ul>
            <form class="d-flex" role="search" action="/search">
              <input class="form-control me-2" type="search" placeholder="Search"n= name="search" aria-label="Search">
              <button class="btn btn-outline-dark" type="submit">Search</button>
            </form>
          </div>
          
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class"nav-item dropdown mx-2">
              <a class="nav-link dropdown-toggle text-white" href="#" id="profileDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">User</a>
                <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                    <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                    <li><a class="dropdown-item" href="#">Orders</a></li>
                    <li><a class="dropdown-item" href="{% url 'passwordchange' %}">Change Password</a></li>
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                </ul>    
            </li>   
            <li class="nav-item mx-2">
                <a href="{% url 'showcart' %}" class="nav-link text-white">Cart</a>
            </li>  
            {% comment %} <li class="nav-item mx-2">
                <a href="#" class="nav-link text-white">Wishlist</a>
            </li>   {% endcomment %}
            {% else %}
            <li class="nav-item mx-2">
                <a href="{% url 'login' %}" class="nav-link text-white">Login</a>
            </li>
            <li class="nav-item mx-2">
                <a href="{% url 'customerregistration' %}" class="nav-link text-white">Registration </a>
            </li>
            {% endif %}
          </ul>
      </div>
    </nav>
      {% block banner-slider %}{% endblock banner-slider %}
      {% block information %}{% endblock information %}
      {% block main-content %}{% endblock main-content %}
      {% block payment-gateway %}{% endblock payment-gateway %}
      <footer class="Container-fluid fixed-bottom bg-primary text-center p-2 mt-5">
        <br>Copyright : 2023 || Developed by: Anup Prajapati
      </footer>







    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

    <script src="{% static 'app/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'app/js/all.min.js' %}"></script>
    <script src="{% static 'app/js/myscript.js' %}"></script> 

</body>
</html>